* {
    margin: 0;
    padding: 0;
    transition: 0.25s;
  }


/* главный враппер епт*/ 
.wrapper
{
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

/* верхняя кнопка спеков без анимации */
.nav-classes-button
{
    font-size:16px;
    background-color:#a5a5a5;
    margin: 1% 1%;
    display:inline-block;
    width: 6%;
    border-radius: 15px;
    opacity:.2;
    text-align: center;
}
.nav-classes-button:hover
{
    opacity:1;
}
.nav-classes
{
    text-align: center;
}


/*инфа о сайте*/
.main_block
{
    text-align:center;
    font-size:large;
    border: solid  #8a8a8a;
    background-color: #8a8a8a;
    width: 40%;
    height: 40%;
    margin:1% 30% 1% 30%;
    border-radius: 10px;
    opacity:.93;
}



div:hover
{
    opacity:1;
}
.Header_inner
{
    font-size:32px;
    background-color: #242424;
    padding: 15px 30px;
}
.text {
    text-decoration: none;
    color: #FFFFFF;
  }


/*кнопка с гифкой спеков*/
.nav-classes-block-button
{
    display:inline-block;
    width:13%;
    border-width: 5px;
    background-color:#a5a5a5;
    margin: 1% 1%;
    block-size:350px;
    border-radius: 45px;
}
/* tag a*/
a
{
    opacity: .85;
    background-position: center;
    background-size:cover;
}
a:hover
{
    opacity: 1;
}
a[name="Warrior"] {
    background-image: url("../images/warrior_image.png");
  }
a[name="Warrior"]:hover
{
    background-image: url("../images/test.gif");
}
/* tag a*/
footer
{
    background-color: #242424;
    padding:  15px 5%;
    position: static;
    bottom: 0;
    text-align:left;
    text-decoration: none;
}
p
{
    display:inline-block;
}