* {
    margin: 0;
    padding: 0;
    transition: 0.25s;
    position: relative;
    font-family:'Roboto Mono';
    box-sizing: border-box;
  }
  .header {
    overflow: hidden;
    background-color: #242424;
    padding: 20px 10px;
    font-size: 32px;
  }
  .header-right {
    float: right;
  }
  .header a:hover {
    background-color: #484848;
    color: black;
  }
.main{
  margin-top: 2%;
}
/* главный враппер епт*/ 
.wrapper
{
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    background-image: url("../images/background4k.jpg");
    background-repeat:no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
    
}

/* верхняя кнопка спеков без анимации */
.nav-classes-button
{
    font-size:18px;
    opacity:.5;
    background-color:#a5a5a5;
    margin: 1% 0.5%;
    height: fit-content;
    width: 13vh;
    border-radius: 10px;
    
    text-align: center;
}
.nav-classes-button:hover
{
    opacity:1;
}
.nav-classes
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap:wrap;
}


/*инфа о сайте*/
.info_block
{
  text-align: justify;
    font-size:large;
    margin:auto;
    background-color: #8a8a8a;
    width:600px;
    border-radius: 10px;
    opacity:.93;
    word-wrap: break-word;
    order:-1;
    padding:1%;
}

:hover
{
    opacity:1;
}
.main_block
{
  display:flex;
  margin:2% 0% 0% 0%;
  flex-direction: column;
  justify-content: center;

}
.class
{
  font-weight: bold;
  -webkit-text-stroke: 1.1px black;
}


/* tag a*/
a
{
    opacity: .85;
    background-position: center;
    background-size:cover;
    text-decoration: none;
    color: #000000;
}
/*footer*/
footer
{
    background-color: #242424;
    padding:  15px 5%;
    position: absolute;
    bottom: 0;
    text-align:left;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .main_block{
    justify-content: center;
  }
}
@media screen and (max-width:620px){
  .info_block
{
    width:90%;
}
}
@media screen and (max-width: 400px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  .header-right {
    float: none;
  }
}