* {
    margin: 0;
    padding: 0;
    transition: 0.25s;
    position: relative;
    font-family:'Roboto';
    box-sizing: border-box;
  }
.main{
  margin-top: 2%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header > button {
  background-color: #181818;
  padding: 10px 0px;
  border-radius: 0px;
  cursor: pointer;
  display: block;
  text-align: center;
  border: 1px solid #555;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 14px;
  height: 50px;
}
/* главный враппер епт*/ 
body
{
    background-size: contain;
    background-position: 50%;
    background-attachment: fixed;
    background-image: url("../images/TWWAlphaHallowfall002.webp");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    
}
/* верхняя кнопка спеков без анимации */
.nav-classes-button
{
    opacity: .75;
    background-color:#242424;
    margin: 1% 0.5%;
    height: fit-content;
    width: 13vw;
    border-radius: 10px;
    
    text-align: center;
}
.nav-classes-button:hover
{
    opacity:1;
}
.nav-classes
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap:wrap;
}


/*инфа о сайте*/
.info_block
{
    font-size: 14px;
    text-align: justify;
    margin:auto;
    background-color: #242424;
    max-width: 600px;
    border-radius: 10px;
    opacity:.93;
    word-wrap: break-word;
    order:-1;
    padding:1%;
}

:hover
{
    opacity:1;
}
.main_block
{
  display:flex;
  margin:2% 0% 0% 0%;
  flex-direction: column;
  justify-content: center;

}


/* tag a*/
a
{
    opacity: .85;
    background-position: center;
    background-size:cover;
    text-decoration: none;
    color: #000000;
}
/*footer*/
footer
{
    background-color: #242424;
    padding:  15px 5%;
    position: absolute;
    bottom: 0;
    text-align:left;
    text-decoration: none;
}
